# Node / Next / tooling
node_modules/
.next/
out/
dist/
coverage/
*.log
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
.DS_Store
.vscode/
.vercel

# environment variables - NEVER COMMIT THESE
.env
.env.*
!.env.example

/generated/prisma

.vercel
tsconfig.tsbuildinfo
